<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LicenseKey"
         value="Philips-UGhpbGlwczowNC4wNi4yMDIzOmV5Sk5ZWGhPZFcxaVpYSlBaa0ZqZEdsMmFYUnBaWE1pT2kweExDSk5ZWGhPZFcxaVpYSlBabFJ5WVc1emFYUnBiMjV6SWpvdE1Td2lUV0Y0VG5WdFltVnlUMlpUWTJobGJXVnpJam90TVN3aVRXRjRUblZ0WW1WeVQyWlVhSEpsWVdSeklqb3RNU3dpVFdGNFRuVnRZbVZ5VDJaRGIyMXRZVzVrY3lJNkxURjk6UFBBMm90cXM4UzY4WmlqSXBnZ001bk1RcW9OZ0VZRzZDbHN0eFRETFBnNW83SUVDWXV1eFh3d2RmSGd3VXpYcHJBaXZYaUVCajhoVzNpOGRBd1IwSzJxcHhxNE4zRUIyYnVBbThhWlNzdm0xb1NGR1dnUHRINUk5QWkvZm5rZjNuNFZqTWc5KytIbTllQUs2SEFtY3VHM2RpelBvNWFLa0JKM0N6bUlLYXowPQ==" />
  </appSettings>
  <connectionStrings>
    <add name="MyConnectionString"
         connectionString="Data Source=INGBTCPIC6DT662\SQLEXPRESS;Initial Catalog=WFE;Integrated Security=SSPI"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>